/* reset css */
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 24px; 
  font-family: "roboto", sans-serif;
}

.header-top {
  display: flex;
  align-items: center; 
  gap: 15px; 
  padding: 20px; 
  background-color: #d0e6ff; 
  background-image: repeating-linear-gradient(
    135deg,                      
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 1px,
    transparent 10px
  );
}

.ai-logo img {
  width: 400px;       
  height: 400px;      
  object-fit: cover; 
  border-radius: 50%; 
  margin-left: 200px; 
  border: 15px solid #000000; 
}

.header-top h1 {
  margin: 0; 
  font-size: 100px; 
  color: white; 
  -webkit-text-stroke: 4px black; 
}

.header-content {
  margin: auto;
  width: 50%;
  padding: 50px;
  text-align: center;
}
#generate-btn {
  display: block;
  margin: 40px auto 0; 
  cursor: pointer;
  background-color: #00aaff; 
  color: white;              
  border: none;              
  border-radius: 5px;        
  padding: 20px 40px;        
  font-size: 24px;           
  font-family: "roboto", sans-serif;
  cursor: pointer;           
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

#generate-btn:hover {
  background-color: #0491c8; 
  transform: scale(1.05);    
}

#generate-btn:active {
  transform: scale(0.98);   
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0; 
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000; 
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px; 
}

.sample-quizzes {
  display: flex;              
  justify-content: center;    
  gap: 50px;                  
  padding: 20px;              
}

.quiz-box {
  width: 600px;       
  height: 400px;       
  overflow: hidden;   
  border-radius: 8px; 
}

.quiz-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border: 5px solid #000000; 
}
.image-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

